.withNavbar{
    background-color: #121212;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .mainCard {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff9800;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #262626;
    color: #ffffff;
  }
  
  input:focus {
    outline: none;
    border-color: #ff9800;
    box-shadow: 0 0 5px #ff9800;
  }
  
  button {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #121212;
    background-color: #ff9800;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e68900;
  }
  
  .ForgotButton {
    display: flex;
    justify-content: flex-end;
    color: #ff9800;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    text-align: center;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 40px;
      width: 92vw;
    }
    .mainCard {
      padding: 20px;
    }
    input, button {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  @media (max-width: 700px) {
    .container {
      padding: 40px;
      width: 91vw;
    }
}
  @media (max-width: 600px) {
    .container {
      padding: 40px;
      width: 89.5vw;
    }
}
  @media (max-width: 550px) {
    .container {
      padding: 40px;
      width: 88vw;
    }
}
  @media (max-width: 489px) {
    .container {
      width: 87vw;
    }
}
  @media (max-width: 413px) {
    .container {
      width: 85vw;
    }
}
  @media (max-width: 388px) {
    .container {
      width: 83.5vw;
    }
}
  @media (max-width: 354px) {
    .container {
      width: 82vw;
    }
}
  @media (max-width: 304px) {
    .container {
      padding: 40px;
      width: 101vh;
    }
}
  